<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>

  <head>
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>SupplyChain365 APP component | SupplyChain365 </title>
      <meta name="viewport" content="width=device-width">
      <meta name="title" content="SupplyChain365 APP component | SupplyChain365 ">
    
    
      <link rel="shortcut icon" href="../../../images/favicon.ico">
      <link rel="stylesheet" href="../../../styles/docfx.vendor.min.css">
      <link rel="stylesheet" href="../../../styles/docfx.css">
      <link rel="stylesheet" href="../../../styles/main.css">
      <meta property="docfx:navrel" content="../../../toc.html">
      <meta property="docfx:tocrel" content="../../../toc.html">
    
    <meta property="docfx:rel" content="../../../">
    
  </head>
  <body data-spy="scroll" data-target="#affix" data-offset="120">
    <div id="wrapper">
      <header>

        <nav id="autocollapse" class="navbar navbar-inverse ng-scope" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a class="navbar-brand" href="../../../index.html">
                <img id="logo" class="svg" src="../../../images/logo.png" alt="">
              </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar">
              <form class="navbar-form navbar-right" role="search" id="search">
                <div class="form-group">
                  <input type="text" class="form-control" id="search-query" placeholder="Search" autocomplete="off">
                </div>
              </form>
            </div>
          </div>
        </nav>

        <div class="subnav navbar navbar-default">
          <div class="container hide-when-search" id="breadcrumb">
            <ul class="breadcrumb">
              <li></li>
            </ul>
          </div>
        </div>
      </header>
      <div class="container body-content">

        <div id="search-results">
          <div class="search-list">Search Results for <span></span></div>
          <div class="sr-items">
            <p><i class="glyphicon glyphicon-refresh index-loading"></i></p>
          </div>
          <ul id="pagination" data-first=First data-prev=Previous data-next=Next data-last=Last></ul>
        </div>
      </div>
      <div role="main" class="container body-content hide-when-search">
        <div class="article row grid">
          <div class="col-md-10">
            <article class="content wrap" id="_content" data-uid="">
<h1 id="supplychain365-app-component">SupplyChain365 APP component</h1>

<p>TABLE OF CONTENTS</p>
<p>Login
Warehouse functions
Transport functions
Defects
User and group management
Permission sets
Resources
Time registrations
Schedule activities
Version management
Login
You can log in with an AzureAD user. In this way, a user can login via the latest security options and this simplifies management. MFA can also be enabled.</p>
<p>Warehouse functions
Use SupplyChain365 mobile App on Android mobile scanning device to perform warehouse activities.</p>
<p>Transport functions
Use SupplyChain365 mobile App on Android mobile scanning device to perform transport activities.</p>
<p>Defects
Register workplace defects in every logistics process with the SupplyChain365 APP. Add photos and descriptions for further handling in the back office.</p>
<p>User and group management
Group warehouse or transport employees. For warehouse groups it is possible to assign activities to a group. (e.g. group of reach truckers for storage tasks and clearing)</p>
<p>Permission sets
It is possible to assign preference sets to user groups. With the help of these permission sets it is possible to block functionality for certain users.</p>
<p>Resources
Assign warehouse and transport workers to resources so that resource planning and costs become transparent for all transport and warehouse activities.</p>
<p>Time registrations
Record time registrations per warehouse employee, warehouse activity and document. For transport the consignments and trip activities are recorded.</p>
<p>Schedule activities
It is possible to schedule specific orders for a certain time so that they do not become visible to the employee or specifically to a certain employee or group in the mobile application before a certain date or time.</p>
<p>Version management
It is possible to view the actual version of the mobile app. Besides that the app checks if all the necessary versions are available that are in use. If the backend required a new version of the app there will be a message shown.</p>

</article>
          </div>

          <div class="hidden-sm col-md-2" role="complementary">
            <div class="sideaffix">
              <div class="contribution">
                <ul class="nav">
                  <li>
                    <a href="https://github.com/Actemiumsc365/sc-365-outline/blob/main/articles/gettingstarted/components/app.md/#L1" class="contribution-link">Edit this page</a>
                  </li>
                </ul>
              </div>
              <nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" id="affix">
                <h5>In this article</h5>
                <div></div>
              </nav>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="grad-bottom"></div>
        <div class="footer">
          <div class="container">
            <span class="pull-right">
              <a href="#top">Back to top</a>
            </span>
      
      <span>Generated by <strong>DocFX</strong></span>
          </div>
        </div>
      </footer>
    </div>

    <script type="text/javascript" src="../../../styles/docfx.vendor.min.js"></script>
    <script type="text/javascript" src="../../../styles/docfx.js"></script>
    <script type="text/javascript" src="../../../styles/main.js"></script>
  </body>
</html>
